In [9]:
import pandas as pd
import covid_daily

from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:100% !important; }</style>"))

df3 = covid_daily.covid_daily_report('04-13-2020')
df3.sort_values(by=['TPOP_MORTALITY'], ascending=False, inplace=True)
print(df3.columns)
display(df3.query("Deaths>0").head(20))
#display(df3.query("Admin2 in ['Rockland', 'Nassau', 'Blaine', 'Summit']").head(30))

Index(['STATE', 'COUNTY', 'POPESTIMATE2019', 'DEATHS2019', 'FIPS', 'Admin2',
       'Province_State', 'Confirmed', 'Deaths', 'TPOP_MORTALITY',
       'CASE_MORTALITY', 'TPOP_CONFIRMED', 'Cases_per_1k', 'Deaths_per_1k'],
      dtype='object')

,STATE,COUNTY,POPESTIMATE2019,DEATHS2019,FIPS,Admin2,Province_State,Confirmed,Deaths,TPOP_MORTALITY,CASE_MORTALITY,TPOP_CONFIRMED,Cases_per_1k,Deaths_per_1k
481,13,273,8531,115,13273,Terrell,Georgia,114,10,0.1172,8.7719,1.3363,13.36,1.17
1013,22,95,42837,421,22095,St. John the Baptist,Louisiana,556,40,0.0934,7.1942,1.2979,12.98,0.93
467,13,243,6778,71,13243,Randolph,Georgia,117,6,0.0885,5.1282,1.7262,17.26,0.89
2670,36,61,8336817,62061,36061,New York City,New York,106763,7349,0.0882,6.8835,1.2806,12.81,0.88
397,13,95,87956,951,13095,Dougherty,Georgia,1217,77,0.0875,6.3270,1.3836,13.84,0.88
1578,36,87,325789,2457,36087,Rockland,New York,7965,241,0.0740,3.0257,2.4448,24.45,0.74
1830,40,55,5712,54,40055,Greer,Oklahoma,50,4,0.0700,8.0000,0.8754,8.75,0.70
448,13,205,21863,236,13205,Mitchell,Georgia,147,15,0.0686,10.2041,0.6724,6.72,0.69
1567,36,59,1356924,11312,36059,Nassau,New York,24358,910,0.0671,3.7359,1.7951,17.95,0.67
354,13,7,3038,22,13007,Baker,Georgia,16,2,0.0658,12.5000,0.5267,5.27,0.66
1424,30,101,4736,44,30101,Toole,Montana,26,3,0.0633,11.5385,0.5490,5.49,0.63
1001,22,71,390144,3640,22071,Orleans,Louisiana,5651,244,0.0625,4.3178,1.4484,14.48,0.63
399,13,99,10190,142,13099,Early,Georgia,126,6,0.0589,4.7619,1.2365,12.37,0.59
1594,36,119,967506,7582,36119,Westchester,New York,19786,557,0.0576,2.8151,2.0451,20.45,0.58
1498,34,13,798975,6457,34013,Essex,New Jersey,7634,433,0.0542,5.6720,0.9555,9.55,0.54
1012,22,93,21096,226,22093,St. James,Louisiana,207,11,0.0521,5.3140,0.9812,9.81,0.52
1493,34,3,932202,7248,34003,Bergen,New Jersey,10092,482,0.0517,4.7761,1.0826,10.83,0.52
437,13,177,29992,245,13177,Lee,Georgia,253,15,0.0500,5.9289,0.8436,8.44,0.50
990,22,47,32511,313,22047,Iberville,Louisiana,241,16,0.0492,6.6390,0.7413,7.41,0.49
1003,22,75,23197,195,22075,Plaquemines,Louisiana,140,11,0.0474,7.8571,0.6035,6.04,0.47